name: build
on: push
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - run: sudo apt-get update && sudo apt-get install build-essential gcc rustc cargo dc && make && make test
